{% extends "base/base_cource.jinja2" %}
{% load static %}

{% block title %} Сдача теста {% endblock %}
{% block main %}
    <div class="st-pusher" id="content">

        <!-- sidebar effects INSIDE of st-pusher: -->
        <!-- st-effect-3, st-effect-6, st-effect-7, st-effect-8, st-effect-14 -->

        <!-- this is the wrapper for the content -->
        <div class="st-content">

            <!-- extra div for emulating position:fixed of the menu -->
            <div class="st-content-inner padding-none">

                <div class="container-fluid">

                    <div class="media media-grid media-clearfix-xs">
                        <div class="media-body">

                            <div class="page-section">
                                <div class="media">
                                    <div class="media-left">
                                        <span class="icon-block s60 bg-lightred"><i
                                                class="fa fa-align-center"></i></span>
                                    </div>
                                    <div class="media-body">
                                        <h1 class="text-display-1 margin-none link-text-color">{{ category.name }}</h1>
                                        <p class="small margin-none">
                                            <span class="fa fa-fw fa-star text-yellow-800"></span>
                                            <span class="fa fa-fw fa-star text-yellow-800"></span>
                                            <span class="fa fa-fw fa-star text-yellow-800"></span>
                                            <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                                            <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="page-section">
                                <div class="width-350 width-300-md width-100pc-xs paragraph-inline">
                                    <figure class="media">
                                        <oembed url="https://www.youtube.com/watch?v=CD67kmLnrbE&amp;pp=ygUj0LDQu9Cz0L7RgNGC0LjQvNC00ZYg05nQt9GW0YDQu9C10YM%3D"></oembed>
                                    </figure>

                                    <div class="embed-responsive embed-responsive-16by9">
                                        {{ category.body|safe }}
                                        {#                      <iframe class="embed-responsive-item" src="//www.youtube-nocookie.com/embed/Ycv5fNd4AeM?rel=0"></iframe>#}
                                    </div>
                                </div>
                                <p>
                                    <strong>{{ category.description }}</strong></p>

                                <br/>
                                <br/>
                                <br/>
                                <br/>
                                <br/>

                            </div>

                            <div class="page-section">
                                <h2 class="text-headline margin-none link-text-color">Что придется изучать?</h2>

                                <p class="text-subhead text-light">Пройдите каждый этап</p>
                                <br/>
                                <ul class="list-group relative paper-shadow margin-none" data-hover-z="0.5"
                                    data-animated>
                                    {% for quiz in quizes %}
                                        <li class="list-group-item paper-shadow">
                                            <div class="media v-middle">
                                                <div class="media-left">
                                                    <div class="icon-block s30 bg-green-300 text-white img-circle">
                                                        <i class="fa fa-book"></i>
                                                    </div>
                                                </div>
                                                <div class="media-body text-body-2">
                                                    <a class="link-text-color"
                                                            {% with previous=quizes|slice:forloop.counter0|last %}


                                                                {% if previous.get_finished_results.count > 0 or quiz.id == quizes.first.id %}
                                                       href="{{ quiz.file.url }}"
                                                       style="text-decoration: none; color: #0a0a0a;"
                                                                {% else %}
                                                       href="#"
                                                       style="cursor:not-allowed; text-decoration: none; color:
                                                    #0a0a0a;"
                                                                {% endif %}
                                                            {% endwith %}
                                                       style="text-decoration: none; cursor: pointer;">{{ quiz.title }}</a>
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                    <li class="list-group-item paper-shadow">
                                        <div class="media v-middle">
                                            <div class="media-left">
                                                <div class="icon-block s30 bg-indigo-300 text-white img-circle">
                                                    <i class="fa fa-trophy"></i>
                                                </div>
                                            </div>
                                            <div class="media-body text-body-2">
                                                Сдать тест
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item paper-shadow">
                                        <div class="media v-middle">
                                            <div class="media-left">
                                                <div class="icon-block s30 bg-grey-500 text-white img-circle">
                                                    <i class="fa fa-file-text"></i>
                                                </div>
                                            </div>
                                            <div class="media-body text-body-2">
                                                Курс пройден
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>


                            <br/>

                        </div>
                        <div class="media-right">

                            <div class="page-section width-270 width-auto-xs">

                                <!-- .panel -->
                                <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1"
                                     data-animated>
                                    <div class="panel-heading">
                                        <h4 class="text-headline">Курс</h4>
                                    </div>

                                    <hr class="margin-none"/>
                                    <div class="panel-body text-center">
                                        <p><a class="btn btn-success btn-lg paper-shadow relative" data-z="1"
                                              data-hover-z="2" data-animated
                                              href="{% url 'start-course' category.id %}">Начать
                                            курс</a></p>
                                    </div>
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <a href="#" class="text-light"><i class="fa fa-facebook fa-fw"></i>
                                                Поделиться в Facebook</a>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="#" class="text-light"><i class="fa fa-twitter fa-fw"></i> Сделать
                                                твит</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- // END .panel -->

                                <!-- .panel -->

                                <!-- // END .panel -->

                                <!-- .panel -->
                                <!-- // END .panel -->

                            </div>
                            <!-- // END .page-section -->

                        </div>
                    </div>

                </div>

            </div>
            <!-- /st-content-inner -->

        </div>
        <!-- /st-content -->

    </div>
{% endblock %}
